.hero {
  padding-top: 60px;
  position: relative;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
}

.hero__downbutton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}