.quote {
  padding-left: 100px;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 77px;
    height: 66px;
    opacity: .3;
    background: svg-load('quote.svg', fill=$text-color) center center / contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.quote__text {
  margin-bottom: 30px;
  color: rgba($text-color, .5);
  font-weight: 600;
}