.userinfo {
  text-align: center;
}

.userinfo__title {
  font-size: 18px;
  color: rgba($text-color, .4);
  font-weight: 600;
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
}

