.values__wrapper {
  background: url('~images/decor/bag.jpg') left bottom no-repeat / 450px auto;
}
.values__title {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

.values__title-container {
  width: 50%;
}

.values__title-text {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 70px;
}

.values__content {
  color: rgba($text-color, .5);
  font-weight: 600;
}

.values__widget {
  padding-left: 40%;
}