.welcome-section {
  position: relative;

  @include super-wide {
    background: url('~images/bg/hero_wide.jpg') center top no-repeat / cover;
  }
  @include tablets {
    background: url('~images/bg/hero.jpg') center top no-repeat / cover;
  }
}